//POS System:: Global variables

$default: #282C2B;
$dark: #222222;
$white: #ffffff;
$gray-v1: #f3f3f3; 
$gray-v2: #3E3E3E;
$gray-v3: #313131;
$primary: #ff9d00;
$primary-hover: #d58301;    
$orange: #DC623A;   



