html,
body,
.home-page .view {
  height: 100%;
}

body {    
    background-color: $default;
    color: $white;
}

ul {
    padding: 0;
    list-style-type: none; 
}

hr {
    border-color: rgba(255,255,255,.2);
    margin-bottom: 2.5rem;
}

h1,
h2,
h3 {    
    padding-bottom: 1rem;
}

.btn {
    text-transform: none;    
    @media only screen and (min-width: 1440px) {
        padding: 1.4rem 2rem !important;
        font-size: 1rem;
    }
    &.btn-outline-white {
        border-width: 1px !important;
        border-color: $orange !important;
    }
}

.light-blue-text {
    color: $orange !important;
}

  
.navbar {
    box-shadow: none;
    background-color: $default !important;
    font-size: 1rem;
    .active a {
        border-bottom: 2px solid $orange !important;
    }
    &.top-nav-collapse {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}
.navbar-brand {
    margin-right: 2rem;
}
.navbar-toggler {
    @media only screen and (max-width: 990px) {
        padding: 0;
    }
}

.top-nav-collapse,
.navbar:not(.top-nav-collapse) {
    @media only screen and (max-width: 990px) {
        background-color: $default !important;
    }
}
/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 990px) {
    .navbar {
        background-color: $default !important; 
    } 
}

.home-page .navbar {
    background-color: transparent !important;
}

.md-form input:not([type]):focus:not([readonly]), 
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]), 
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]), 
.md-form input[type="email"]:not(.browser-default):focus:not([readonly]), 
.md-form input[type="url"]:not(.browser-default):focus:not([readonly]), 
.md-form input[type="time"]:not(.browser-default):focus:not([readonly]), 
.md-form input[type="date"]:not(.browser-default):focus:not([readonly]), 
.md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]), 
.md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), 
.md-form input[type="tel"]:not(.browser-default):focus:not([readonly]), 
.md-form input[type="number"]:not(.browser-default):focus:not([readonly]),
 .md-form input[type="search"]:not(.browser-default):focus:not([readonly]), 
 .md-form input[type="phone"]:not(.browser-default):focus:not([readonly]), 
 .md-form input[type="search-md"]:focus:not([readonly]), 
 .md-form textarea.md-textarea:focus:not([readonly]) {
     border-bottom-color: $orange;
     box-shadow: 0 1px 0 0 $orange;
 }
 .md-form input:not([type]):focus:not([readonly])+label, 
 .md-form input[type="text"]:not(.browser-default):focus:not([readonly])+label, 
 .md-form input[type="password"]:not(.browser-default):focus:not([readonly])+label, 
 .md-form input[type="email"]:not(.browser-default):focus:not([readonly])+label, 
 .md-form input[type="url"]:not(.browser-default):focus:not([readonly])+label, 
 .md-form input[type="time"]:not(.browser-default):focus:not([readonly])+label, 
 .md-form input[type="date"]:not(.browser-default):focus:not([readonly])+label, 
 .md-form input[type="datetime"]:not(.browser-default):focus:not([readonly])+label, 
 .md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly])+label, 
 .md-form input[type="tel"]:not(.browser-default):focus:not([readonly])+label, 
 .md-form input[type="number"]:not(.browser-default):focus:not([readonly])+label, 
 .md-form input[type="search"]:not(.browser-default):focus:not([readonly])+label, 
 .md-form input[type="phone"]:not(.browser-default):focus:not([readonly])+label, 
 .md-form input[type="search-md"]:focus:not([readonly])+label, 
 .md-form textarea.md-textarea:focus:not([readonly])+label {
    color: $orange;
 }