.carousel {
    height: 100%;
    .carousel-inner {
        height: 100%;
        .carousel-item,
        .active {
            height: 100%;
        }
    }
}

.carousel {
    .flex-active {
        width: 100%;
        padding: 5rem;
        display: flex;
        align-items: center;
        @media only screen and (max-width: 1440px) {
            padding: 5rem 3rem;
        }
        @media only screen and (max-width: 1024px) {
            padding: 5rem 2rem;
        }
        .items {
            flex: 1 0;
        }
        @media only screen and (max-width: 1024px) {
            flex-direction: column;
            padding: 6rem 2rem;
        }
        @media (orientation: landscape) {
            flex-direction: row;
            padding-top: 10rem;
        }
    }    
    .carousel-item {
        .product-detail-holder {
            .inner {
                padding-right: 5rem;
                @media only screen and (max-width: 1024px) {
                    padding-right: 0;
                    padding-top: 6rem;
                }
                @media only screen and (max-width: 800px) {
                    padding-right: 0;
                    padding-top: 0;
                }
            }           
            h2 {                
                &.num {
                    font-weight: bold;
                    padding-right: 5rem;
                    margin-bottom: 2rem;
                    color: $orange;
                    font-size: 4rem;
                    border-bottom: 1px solid $gray-v2;
                    display: inline-block;
                    @media only screen and (max-width: 1440px) {
                        font-size: 3rem;
                    }  
                    @media only screen and (max-width: 800px) {
                        font-size: 2.2rem;
                        margin-bottom: 1rem;
                    }                    
                }
            }
            h1 {
                font-size: 3.6rem;
                padding-bottom: 1rem;
                @media only screen and (max-width: 1440px) {
                    font-size: 2.8rem;
                }  
                @media only screen and (max-width: 800px) {
                    font-size: 2.4rem;                    
                    font-weight: bold;
                }
                @media only screen and (max-width: 667px) {
                    font-size: 2rem;
                    font-weight: normal;
                }
            }
            ul {
                li {
                    padding-bottom: 2rem;
                    @media only screen and (max-width: 1440px) {
                        padding-bottom: 1rem;
                    }
                }
                @media only screen and (max-width: 800px) {
                    display: none; 
                }
            }
            .btn {
                @media only screen and (max-width: 1024px) {
                    display: inline-block !important; 
                }
                @media only screen and (max-width: 800px) {
                    display: block; 
                }
            }
        }
        .product-holder {
            img {
                width: 100%;
                margin-top: 4rem;
                @media only screen and (max-width: 1440px) {
                    margin-top: 0;
                }
                @media only screen and (max-width: 1024px) {
                    padding-top: 2rem;
                }
            }
        }
    } 
    .view .mask {
        @media only screen and (max-width: 990px) {
            align-items: unset !important;
        }
    }   
    .carousel-control-next, 
    .carousel-control-prev {
        width: 5%;
    }
    .carousel-indicators {
        li {
            width: .5rem;
            height: .5rem;
            border: 2px solid $default;
            margin-bottom: 1rem;
            &.active {
                background-color: transparent;
                border: 2px solid $orange;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media only screen and (max-width: 800px) {
            top: 5rem; 
        }
    }
}

aside {
    background-color: $dark;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 2rem;
    font-size: .8rem;
    padding-top: 2.2rem;
    opacity: .5;
    @media only screen and (max-width: 990px) {  
        display: none;
    }
}


main {
    padding-top: 7rem;
}